.test {
    @apply flex items-center justify-center flex-col;
    background-image: url("/hpBg.jpg"); 
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.absolutelyCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}